@import "mixins";
@import "variables";
@import "resets";

.card {
  @include flexCenter(row);
}

.container {
  @include flexCenter(column);
}

.indum {
  @include flexCenter(row);
}

carousel-item {
  width: 60%;
  height: 60vh;
}

carousel-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
